#container {
	width: 100%;
	margin: 0 auto;
	padding: 0 auto;
}
#left {
	float: left;
	width: 48%;
	margin-right: 2%;
	margin-left: 1%;
}
#right {
	float: left;
	width: 48%;
	margin-right: 1%;
}
#left1 {
	border: 1px solid green;
	padding: 20px 10px;
}
input[type=text] {
	width: 95%;
	height: 25px;
}
input[type=password] {
	width: 95%;
	height: 25px;
}
#right1 {
	border: 1px solid green;
	padding: 20px 10px;
}
@media screen and (max-width: 768px) {
	#left {
		width: 100%;
	}
	#right {
		width: 100%;
	}
}