#box1{
	border: 1px dashed black;
	margin: 80px;
	height: 400px;
	padding: 20px;
}
#box2{
	border: 1px solid black;
	margin-left: 20px;
	margin-right: 80px;
	margin-top: 20px;
	height: 350px;
}
#box3{
	border:1px dashed black;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom:50px;
    margin-top:20px; 
    height:120px;
    text-align: center;
    line-height: 100px;	
}
#box4{
    border:1px dashed black;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom:90px;
    margin-top:50px; 
    height:120px;
    text-align: center;
    line-height: 100px;	

}