body {
	margin: 0 auto;
	padding: 0 auto;
	width: 90%;
}
#container {
	width: 100%;
}
#header {
	width: 100%;
	height: 100px;
	background-color: #9DC1F1;
	margin-bottom: 5px;
}
#brand {
	width: 20%;
	background-color: #E6ECF4;
	height: 50px;
	margin-left: 1%;
	float: left;
}
#globalNav {
	width: 50%;
	background-color: #E6ECF4;
	height: 50px;
	margin-left: 1%;
	float: left;
}
#tools {
	width: 26%;
	background-color: #E6ECF4;
	height: 50px;
	margin-right: 1%;
	float: left;
	margin-left: 1%;
}
#menu {
	height: 170px;
	width: 72%;
	margin-bottom: 10px;
	background-color: #9DC1F1;
	float: left;
	margin-right: 1%;
}
#heroFeature {
	width: 70%;
	background-color: #E6ECF4;
	height: 100px;
	margin-right: 1%;
	float: left;
	margin-left: 1%;
}
#heroAction {
	width: 27%;
	background-color: #E6ECF4;
	height: 100px;
	float: left;
	margin-right: 1%;
}
#ad {
	width: 27%;
	float: left;
	height: 170px;
	background-color: blue;
}
#content {
	height: 500px;
	width: 72%;
	margin-bottom: 10px;
	background-color: #9DC1F1;
	float: left;
	margin-right: 1%;
}
#articleFeature {
	width: 29%;
	background-color: #E6ECF4;
	height: 430px;
	margin-right: 1%;
	float: left;
	margin-left: 1%;
}
#tablecal {
	text-align: center;
}
#articleListing {
	width: 68%;
	background-color: #E6ECF4;
	height: 430px;
	float: left;
	margin-right: 1%;
}
#slide_content {
	width: 27%;
	float: left;
	height: 500px;
	background-color: #9DC1F1;
}
#slidebarFeature {
	width: 98%;
	height: 430px;
	background-color: #E6ECF4;
	margin-left: 1%;
	margin-right: 1%;
}
#footer {
	width: 100%;
	background-color: #9DC1F1;
	height: 50px;
	clear: left;
}
#footer h3 {
	line-height: 50px;
}
}
.mySlides {
	display: none
}
img {
	vertical-align: middle;
	width: 100%;
}
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 90%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 400px;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #ada;
  font-size: 30px;
  position: absolute;
  margin-top: 5px;
  width: 100%;
  right: 50px;
  text-align: center;
}
.active:hover {
  background-color: #717171;
}
@media screen and (max-width: 768px){
	#globalNav {
	width: 47%;
	margin-right: 2%;
    }
    #ad{
    	position: absolute;
    	left: 505px;
    	top: 365px;
    }
    #menu {
    	width: 100%;
    }
    #heroFeature {
	width: 98%;
	height: 50px;
	margin-bottom: 5px;

    }
    #heroAction {
	width: 98%;
	height: 50px;
	margin-left: 1%;
	margin-right: 1%;
    }
    #content {
	height: 500px;
	width: 100%;
	float: left;
	margin-bottom: 5px;
	}
	#articleFeature {
	width: 65%;
	height: 170px;
	margin-bottom: 10px;
	float: left;
	}
	#articleListing {
	width: 98%;
	height: 250px;
	margin-left: 1%;
	margin-right: 1%;
	}
	#slide_content {
	width: 100%;
	height: 150px;
	float: left;
	margin-bottom: 5px;
	}
	#slidebarFeature {
	width: 98%;
	height: 80px;
	margin-right: 1%;
	margin-left: 1%;
	}
	.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 105%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 45px;
  border-radius: 3px 0 0 3px;
}
img {
	vertical-align: middle;
	width: 100%;
	height:250px; 
}
.text {
  color: #ada;
  font-size: 20px;
  position: absolute;
  margin-top: -20px;
  width: 100%;
  right: 10px;
  text-align: center;
}
}
@media screen and (max-width: 480px){
	#header {
	height: 150px;
	}
	#ad {
		position: absolute;
		top: 480px;
		left: 28px;
		width: 410px;
		height: 100px;
	}
	#brand {
		width: 95%;
		height: 50px;
		margin-left: 3%;
		margin-bottom: 5px;
	}
	#globalNav {
		width: 55%;
		height: 50px;
		margin-left: 3%;
		float: left;
	}
	#tools {
		width: 37%;
		height: 50px;
	}
	#menu {
    	width: 100%;
    	height: 120px;
    }
	#heroFeature {
		display: none;
	}
	#slide_content {
		display: none;
	}
	#content {
	height: 450px;
	width: 100%;
	float: left;
	margin-bottom: 5px;
	}
	#articleFeature {
	width: 98%;
	height: 100px;
	margin-bottom: 200px;
	float: left;
	}
	#articleListing {
	width: 98%;
	height: 150px;
	margin-top: -70px;
	}
	#footer {
		margin-top: 250px;
	}
		.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 105%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 45px;
  border-radius: 3px 0 0 3px;
}
img {
	vertical-align: middle;
	width: 100%;
	height:150px; 
}
.text {
  color: #ada;
  font-size: 20px;
  position: absolute;
  margin-top: -20px;
  width: 100%;
  right: 10px;
  text-align: center;
}
}