*{
	padding: 0 auto;
	margin: 0 auto;
}
body {
	height: 570px;
	padding: 20px 20px;
	background-image: linear-gradient(white, orange);
	border: 1px solid green;
	margin: 15px 300px;
	border-radius: 25px;
	box-shadow: 5px 5px 0 0;
}
#content {
	margin: 10px;
}
#header {
	height: 150px;
}
#header img {
	float: left;
	margin:30px;
}
h2 {
	padding: 20px;
	text-align: center;
	line-height: 30px;
}
#main {
	padding: 10px 0px;
	line-height: 25px;
}
#main p{
	line-height: 25px;
}
#main ul li a{
	color: red;
}
#footer p {
	float: right;
}